In [1]:
import pandas as pd

# 가장 대표적인 미국이름은?

In [2]:
raw = pd.read_csv('C:/Users/user/Documents/러닝스푼즈/파이썬 온라인강좌/Ch2)Pandas_Basic/data/babyNamesUS.csv')
raw

        StateCode Sex  YearOfBirth       Name  Number
0              AK   F         1910       Mary      14
1              AK   F         1910      Annie      12
2              AK   F         1910       Anna      10
3              AK   F         1910   Margaret       8
4              AK   F         1910      Helen       7
...           ...  ..          ...        ...     ...
1048570        FL   F         1993    Francis       8
1048571        FL   F         1993  Francisca       8
1048572        FL   F         1993    Gillian       8
1048573        FL   F         1993     Gisela       8
1048574        FL   F         1993   Gretchen       8

[1048575 rows x 5 columns]

In [3]:
raw['YearOfBirth'].unique()

array([1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920,
       1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [4]:
# 세대 기준으로 그룹나누기
1930대 이전
1960대 이전
1990대 이전
2020대 이전

SyntaxError: invalid syntax (<ipython-input-4-c962b6446e15>, line 2)

In [8]:

year_class_list = []
for year in raw['YearOfBirth'] :
    if year <= 1930 :
        year_class = '1930년이전'
    elif year <=1960 :
        year_class = '1960년이전'
    elif year <=1990 :
        year_class = '1990년이전'
    else :
        year_class = '2020년이전'
    year_class_list.append(year_class)
raw['year_class'] = year_class_list

In [9]:
year_class_list

['1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1930년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 '1960년이전',
 ...]

In [10]:
raw

        StateCode Sex  YearOfBirth       Name  Number year_class
0              AK   F         1910       Mary      14    1930년이전
1              AK   F         1910      Annie      12    1930년이전
2              AK   F         1910       Anna      10    1930년이전
3              AK   F         1910   Margaret       8    1930년이전
4              AK   F         1910      Helen       7    1930년이전
...           ...  ..          ...        ...     ...        ...
1048570        FL   F         1993    Francis       8    2020년이전
1048571        FL   F         1993  Francisca       8    2020년이전
1048572        FL   F         1993    Gillian       8    2020년이전
1048573        FL   F         1993     Gisela       8    2020년이전
1048574        FL   F         1993   Gretchen       8    2020년이전

[1048575 rows x 6 columns]

In [55]:
name_period = raw.pivot_table(index=['Name','Sex'], columns= 'year_class', values = 'Number', aggfunc= 'sum')
name_period =name_period.fillna(0)
name_period = name_period.astype(int)
name_period.head()

year_class  1930년이전  1960년이전  1990년이전  2020년이전
Name   Sex
Aadan  M          0        0        0       18
Aaden  M          0        0        0      855
Aadhav M          0        0        0       14
Aadhya F          0        0        0      188
Aadi   M          0        0        0      116

In [56]:
#옵션1) 모든 컬럼 더하기
name_period['1930년이전'] + name_period['1960년이전'] + name_period['1990년이전'] + name_period['2020년이전']

Name    Sex
Aadan   M       18
Aaden   M      855
Aadhav  M       14
Aadhya  F      188
Aadi    M      116
              ...
Zyler   M       38
Zyon    F        6
        M       91
Zyra    F       23
Zyrah   F        5
Length: 22798, dtype: int32

In [57]:
#옵션2) sum함수 이용하기

name_period['Sum'] = name_period.sum(axis =1)
name_period

year_class  1930년이전  1960년이전  1990년이전  2020년이전  Sum
Name   Sex
Aadan  M          0        0        0       18   18
Aaden  M          0        0        0      855  855
Aadhav M          0        0        0       14   14
Aadhya F          0        0        0      188  188
Aadi   M          0        0        0      116  116
...             ...      ...      ...      ...  ...
Zyler  M          0        0        0       38   38
Zyon   F          0        0        0        6    6
       M          0        0        0       91   91
Zyra   F          0        0        0       23   23
Zyrah  F          0        0        0        5    5

[22798 rows x 5 columns]

In [58]:
for col in name_period.columns : 
    col_new= col + '비율'
    name_period[col_new] = name_period[col]/name_period['Sum']

In [60]:
cols = ['Sum','1930년이전비율','1960년이전비율','1990년이전비율','2020년이전비율','Sum비율']
cols

['Sum', '1930년이전비율', '1960년이전비율', '1990년이전비율', '2020년이전비율', 'Sum비율']

In [61]:
name_period =name_period[cols]

In [63]:
name_period = name_period.sort_values(by=['Sum','2020년이전비율','1990년이전비율'], ascending= False)

In [64]:
name_period

year_class      Sum  1930년이전비율  1960년이전비율  1990년이전비율  2020년이전비율  Sum비율
Name    Sex
Michael M    725757   0.006876   0.272921   0.519864   0.200340    1.0
James   M    693271   0.141125   0.415553   0.324899   0.118423    1.0
Robert  M    674934   0.129005   0.433136   0.342342   0.095517    1.0
John    M    670893   0.146873   0.400769   0.338516   0.113842    1.0
David   M    615943   0.026728   0.329630   0.452037   0.191605    1.0
...             ...        ...        ...        ...        ...    ...
Yoshiro M         5   1.000000   0.000000   0.000000   0.000000    1.0
Ysabel  M         5   1.000000   0.000000   0.000000   0.000000    1.0
Yvonnie F         5   0.000000   1.000000   0.000000   0.000000    1.0
Zebedee M         5   0.000000   1.000000   0.000000   0.000000    1.0
Zygmunt M         5   1.000000   0.000000   0.000000   0.000000    1.0

[22798 rows x 6 columns]

In [65]:
name_period.index

MultiIndex([(    'Michael', 'M'),
            (      'James', 'M'),
            (     'Robert', 'M'),
            (       'John', 'M'),
            (      'David', 'M'),
            (       'Mary', 'F'),
            (    'William', 'M'),
            (    'Richard', 'M'),
            ('Christopher', 'M'),
            (     'Daniel', 'M'),
            ...
            (   'Wylodene', 'F'),
            (     'Yayeko', 'F'),
            (      'Yayoi', 'F'),
            (      'Yoshi', 'F'),
            (    'Yoshimi', 'F'),
            (    'Yoshiro', 'M'),
            (     'Ysabel', 'M'),
            (    'Yvonnie', 'F'),
            (    'Zebedee', 'M'),
            (    'Zygmunt', 'M')],
           names=['Name', 'Sex'], length=22798)

In [67]:
name_period =name_period.reset_index()
name_period

year_class,Name,Sex,Sum,1930년이전비율,1960년이전비율,1990년이전비율,2020년이전비율,Sum비율
0,Michael,M,725757,0.006876,0.272921,0.519864,0.200340,1.0
1,James,M,693271,0.141125,0.415553,0.324899,0.118423,1.0
2,Robert,M,674934,0.129005,0.433136,0.342342,0.095517,1.0
3,John,M,670893,0.146873,0.400769,0.338516,0.113842,1.0
4,David,M,615943,0.026728,0.329630,0.452037,0.191605,1.0
...,...,...,...,...,...,...,...,...
22793,Yoshiro,M,5,1.000000,0.000000,0.000000,0.000000,1.0
22794,Ysabel,M,5,1.000000,0.000000,0.000000,0.000000,1.0
22795,Yvonnie,F,5,0.000000,1.000000,0.000000,0.000000,1.0
22796,Zebedee,M,5,0.000000,1.000000,0.000000,0.000000,1.0
22797,Zygmunt,M,5,1.000000,0.000000,0.000000,0.000000,1.0